:root {
  --font: 'Ubuntu', sans-serif;
}
html {
  font-family: var(--font);
}
body {
  margin: 0;
  padding: 0;
}

.body {
  padding-top: 60px;
}

.container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}