.form-create-cars {
  text-align: center
}

.create-cars-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.create-cars-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
}

.create-cars-details-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.create-cars-wrapper {
  width: 100%;
  margin: 0 10px;
}

.component-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  position: relative;
  justify-content: center;
}

.input {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  color: #79808e;
  border: 1px solid #dcdddf;
  background: #fcfcfc;
  padding: 10px 15px 0 15px !important;
  font-size: 18px;
  margin: 0 0 20px 0;
}

.label-component-input {
  position: absolute;
  top: 6px;
  left: 10px;
  color: #bbb;
  font-size: 10px;
}

.handleEdit {
  align-self: flex-end;
  padding: 5px 8px;
  border-radius: 8px;
  font-size: 20px;
  margin: 10px;
  font-weight: 300;
  background-color: #f50;
  border-color: #bb3e00;
  color: #fff;
  text-align: center;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.handleEdit:hover {
  cursor: pointer;
  background-color: #fff;
  color: #f50;
  transition: all 0.2s ease-out;
}