:root {
  --color-primary: #a5eefb;
  --grey: #555;
  --white: #ffffff;
}

.homepage h1 {
  text-align: center;
}

.initial-banner {
  background-image: url('/images/initial-banner.jpg');
  background-size: cover;
  display: flex;
  width: 100vw;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.initial-banner h1 {
  color: var(--white);
}

.initial-banner-text {
  justify-content: center;
  align-items: center;
  color: white;
}

.how-works {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card-how-works {
  margin: 20px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-radius: 8px;
  width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-how-works-img {
  width: 100px;
  height: 150px;
  padding: 20px;
}

.card-how-works-img img {
  width: 100%;
  height: auto;
}

.card-how-works-title {
  font-size: 16px;
  font-weight: 500;
  color: #555;
}

.list-cars {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
}