.profile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.form-profile {
  text-align: center;
  width: 100%;
}

.profile-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
}

.profile-details-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profile-img {
  object-fit: cover;
  height: 80%;
  width: 80%;
  -webkit-transition: .8s;
  -moz-transition: .8s;
  transition: .8s;
  border-radius: 100%;
}

.profile-wrapper {
  width: 80%;
  color: #666;
}

.profile-wrapper--img {
  position: relative;
}

.input {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  color: #79808e;
  border: 1px solid #dcdddf;
  background: #fcfcfc;
  padding: 10px 15px 0 15px !important;
  font-size: 18px;
  margin: 0 0 20px 0;
}

.label-component-input {
  position: absolute;
  top: 6px;
  left: 10px;
  color: #bbb;
  font-size: 10px;
}

.handleEdit {
  align-self: flex-end;
  padding: 5px 8px;
  border-radius: 8px;
  font-size: 20px;
  margin: 10px;
  font-weight: 300;
  background-color: #f50;
  border-color: #bb3e00;
  color: #fff;
  text-align: center;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.handleEdit:hover {
  cursor: pointer;
  background-color: #fff;
  color: #f50;
  transition: all 0.2s ease-out;
}

.button-upload {
  background-color: 'steelblue';
  color: white;
  padding: 10px;
  border-radius: 4;
}

.container-cards-paid {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.cards-paid-categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 15px;
  color: #a0a0a0;
}

.cards-paid-categories label{
  width: 33%;
}

.cards-paid-categories label:last-child{
  width: 33%;
  text-align: right;
}