.car-card {
  margin: 1%;
  background-color: #ffffff;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-radius: 8px;
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.car-card:hover .description {
  bottom: 0;
}

.description {
  position: absolute;
  background: white;
  padding: 0 30px;
  left: 0;
  bottom: -179px;
  transition: bottom 0.3s ease-in-out;
}

.car-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.car-details ul {
  list-style: none;
  padding: 0;
  flex-basis: 50%;
}

.pj-card img {
  object-fit: cover;
  height: 300px;
  width: 100%;
  -webkit-transition: .8s;
  -moz-transition: .8s;
  transition: .8s;
}