.car-card {
  margin: 20px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-radius: 8px;
  width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.car-card-img {
  
}
.car-card-img img{
  width: 100%;
  height: auto;
}