.card-cart-car {
  margin: 20px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-radius: 8px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card-cart-car h1, .card-cart-car p {
  margin: 5px 0;
}

.card-cart-car-image {
  align-self: center;
  text-align: center;
  flex-grow: 1;
  width: 40%;
  object-fit: cover;
}

.card-cart-car-image img {
  width: 100%;
  height: auto;
}

.card-cart-details{
  width:100%;
}

.card-cart-car-info {
  display: flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
  flex-grow: 1;
}

.card-cart-car-info h1{
  font-weight: 500;
  font-size: 34px;
}

.card-cart-car-position-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 300;
  margin: 5px 0;
  padding: 10px;
  background-color: rgba(123, 237, 251, 0.22);
}

.card-cart-car-position-list li {
  list-style: none;
  padding: 0 10px;
  width: 44%;
  text-align: left;
}

.totalPrice {
  font-size: 24px;
  font-weight: 300;
  background-color: #e4fbfe;
  text-align: right;
}

.totalPrice span{
  font-weight: 400;
}