.card-cart-car {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-radius: 8px;
}

.card-cart-car-image {
  align-self: center;
  flex-grow: 1;
  text-align: center;
}

.card-cart-car-image img {
  width: 100px;
  height: 100px;
}

.card-cart-car-info {
  display: flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
}