.cartbox {
  background-color: #f5f5f5;
  right: 10px;
  top: 70px;
  position: fixed;
  border-radius: 8px;
  text-align: center;
  overflow-y: scroll;
  height: auto;
  max-height: 80vh;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.cartbox-button {
  align-self: center;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 25px;
  margin: 10px;
  margin-bottom: 20px;
  font-weight: 300;
  background-color: #f50;
  border-color: #bb3e00;
  color: #fff;
  text-align: center;
}

.cartbox-button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #f50;
  transition: all 0.2s ease-out;
}

.cartbox-button-close {
  align-self: flex-end;
  padding: 5px 8px;
  border-radius: 8px;
  font-size: 10px;
  margin: 10px;
  font-weight: 300;
  background-color: #f50;
  border-color: #bb3e00;
  color: #fff;
  text-align: center;
  position: fixed;
  top: 80px;
  right: 10px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.cartbox-button-close:hover {
  cursor: pointer;
  background-color: #fff;
  color: #f50;
  transition: all 0.2s ease-out;
}