.navbar {
  background-color: white;
  border-radius: var(--radius);
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.40);
  margin-top: 40px;
  position: sticky;
  top: 5px;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px;
  align-items: center;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar li:first-child {
  margin-left: 30px;
}

.navbar li {
  margin: 0px 10px;
}

.navbar li a {
  font-weight: var(--extra-bold);
  text-transform: uppercase;
  color: var(--primary-text-color)
}

.navbar .logo img {
  width: 50px;
  margin: 0px 20px;
}

.navbar .button-navbar {
  background-color: #3C91F7;
  padding: 10px 15px;
  border-radius: var(--radius);
  color: white;
  text-transform: uppercase;
  font-weight: var(--extra-bold);
  margin: 0px 20px;
}

/* .navbar {
  font-family: var(--font-primary);
  width: 100vw;
  background-color: #323248;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #56587d;
  border-radius: 8px;
  margin: 0 10px;
}

.navbar-container--nobg {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
  margin: 0 10px;
}

.navbar-container p {
  color: white;
  margin: 0 10px;
  font-size: 16px;
  font-weight: 500;
}

.navbar-height {
  height: 80px;
}

.navbar-start {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  padding-left: 100px;
}

.navbar-end {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.navbar-img-profile {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  position: absolute;
  margin: 0 10px;
  top: -30px;
  left: 104px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}


.navbar-img-add-car {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  position: absolute;
  margin: 0 10px;
  top: -30px;
  left: 104px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.shopping-cart {
  position: relative;
}

.fas {
  color: #fff;
  font-size: 24px;
  margin: 10px 20px;
}

.fas:hover {
  cursor: pointer;
  color: #7aeefb;
  transition: all 0.2s ease-out;
}

.icon-logout {
  width: 30px;
  height: 30px;
  fill: #ff5151;
  margin: 0 10px;
}

.icon-login {
  width: 30px;
  height: 30px;
  fill: #51ff6e;
  margin: 0 40px;
}

.icon-login:hover {
  fill: #7aeefb;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.navbar .link {
  font-weight: 500;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #fff;
}

#link--img {
  margin: 0 20px;
}

.navbar .link:hover {
  cursor: pointer;
  color: #7aeefb;
  transition: all 0.2s ease-out;
}

.cart-bullet {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  top: 0px;
  right: 41px;
  color: #fff;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  font-size: 12px;
}

.navbar-profile-img {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: 2px solid white;
}

@media (max-width: 600px) {
  .navbar-img-profile {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    position: absolute;
    margin: 0 10px;
    top: -26px;
    left: 9px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  }
}

@media (max-width: 414px) {
  .navbar-end {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  .navbar-container--nobg {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 8px;
  }
  #link--img {
    margin: 0px 11px;
  }
  .navbar-container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 5px;
    background-color: #56587d;
    border-radius: 8px;
    margin-right: 11px;
  }
} */